# Artificial Neural Network Project

### Importing the libraries

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf

### Importing the dataset

In [2]:
df=pd.read_csv('Churn_Modelling.csv')
X=df.iloc[:,3:-1].values
y=df.iloc[:,-1].values

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df.tail()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [6]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
RowNumber,10000.0,5.000500e+03,2886.895680,1.00,2500.75,5.000500e+03,7.500250e+03,10000.00
CustomerId,10000.0,1.569094e+07,71936.186123,15565701.00,15628528.25,1.569074e+07,1.575323e+07,15815690.00
CreditScore,10000.0,6.505288e+02,96.653299,350.00,584.00,6.520000e+02,7.180000e+02,850.00
Age,10000.0,3.892180e+01,10.487806,18.00,32.00,3.700000e+01,4.400000e+01,92.00
Tenure,10000.0,5.012800e+00,2.892174,0.00,3.00,5.000000e+00,7.000000e+00,10.00
Balance,10000.0,7.648589e+04,62397.405202,0.00,0.00,9.719854e+04,1.276442e+05,250898.09
NumOfProducts,10000.0,1.530200e+00,0.581654,1.00,1.00,1.000000e+00,2.000000e+00,4.00
HasCrCard,10000.0,7.055000e-01,0.455840,0.00,0.00,1.000000e+00,1.000000e+00,1.00
IsActiveMember,10000.0,5.151000e-01,0.499797,0.00,0.00,1.000000e+00,1.000000e+00,1.00
EstimatedSalary,10000.0,1.000902e+05,57510.492818,11.58,51002.11,1.001939e+05,1.493882e+05,199992.48
Exited,10000.0,2.037000e-01,0.402769,0.00,0.00,0.000000e+00,0.000000e+00,1.00

In [7]:
#print to see what the features look like 
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [8]:
#print to see what the label looks like
print(y)

[1 0 1 ... 1 1 0]

### Encoding categorical data

Label Encoding applied to the "Gender" column

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])

In [10]:
#print to see the label encoding to applied to the gender column 
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

One Hot Encoding the "Geography" column

In [11]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [12]:
#print to see the label encoding to applied to the gender column 
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

### Splitting the dataset into the Training set and Test set

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

### Feature Scaling

In [14]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Building the ANN

### Initializing the ANN

In [15]:
ann= tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [16]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

### Adding the second hidden layer

In [17]:
ann.add(tf.keras.layers.Dense(units=6,activation='relu'))

### Adding the output layer

In [18]:
ann.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

## Training the ANN

### Compiling the ANN

In [19]:
ann.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

### Training the ANN on the Training set

In [20]:
ann.fit(X_train,y_train, batch_size=32, epochs=100)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5801 - accuracy: 0.7204
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4762 - accuracy: 0.7956
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4512 - accuracy: 0.8030
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4396 - accuracy: 0.8084
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4329 - accuracy: 0.8109
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4283 - accuracy: 0.8166
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4243 - accuracy: 0.8185
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4211 - accuracy: 0.8191
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4180 - accuracy: 0.8224
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4143 - accuracy: 0.8234
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4109 - accuracy: 0.8254
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4070 - accuracy: 0.8288
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4031 - accuracy: 0.8321
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3987 - accuracy: 0.8351
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3942 - accuracy: 0.8366
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3895 - accuracy: 0.8399
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3843 - accuracy: 0.8415
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3785 - accuracy: 0.8445
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3719 - accuracy: 0.8484
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3655 - accuracy: 0.8510
Epoch 21/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3603 - accuracy: 0.8540
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3561 - accuracy: 0.8551
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3526 - accuracy: 0.8577
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3509 - accuracy: 0.8581
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3487 - accuracy: 0.8577
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3471 - accuracy: 0.8587
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3458 - accuracy: 0.8601
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3450 - accuracy: 0.8594
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3440 - accuracy: 0.8604
Epoch 30/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3430 - accuracy: 0.8615
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3423 - accuracy: 0.8612
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3416 - accuracy: 0.8624
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3408 - accuracy: 0.8610
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3403 - accuracy: 0.8627
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8626
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3391 - accuracy: 0.8620
Epoch 37/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3389 - accuracy: 0.8618
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3387 - accuracy: 0.8629
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8618
Epoch 40/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3381 - accuracy: 0.8636
Epoch 41/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3388 - accuracy: 0.8627
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8618
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3372 - accuracy: 0.8643
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3371 - accuracy: 0.8618
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8635
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3359 - accuracy: 0.8641
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3365 - accuracy: 0.8641
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3362 - accuracy: 0.8655
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3363 - accuracy: 0.8627
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3358 - accuracy: 0.8645
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3357 - accuracy: 0.8649
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3356 - accuracy: 0.8644
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3354 - accuracy: 0.8641
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3350 - accuracy: 0.8650
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3358 - accuracy: 0.8630
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3352 - accuracy: 0.8618
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3345 - accuracy: 0.8649
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3347 - accuracy: 0.8640
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3345 - accuracy: 0.8655
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3345 - accuracy: 0.8625
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3343 - accuracy: 0.8649
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3340 - accuracy: 0.8646
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3337 - accuracy: 0.8655
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3336 - accuracy: 0.8640
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3338 - accuracy: 0.8652
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3334 - accuracy: 0.8660
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3337 - accuracy: 0.8650
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3329 - accuracy: 0.8643
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3333 - accuracy: 0.8643
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3325 - accuracy: 0.8650
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3329 - accuracy: 0.8649
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3327 - accuracy: 0.8652
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3325 - accuracy: 0.8664
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3320 - accuracy: 0.8656
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3323 - accuracy: 0.8658
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3322 - accuracy: 0.8656
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3319 - accuracy: 0.8652
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3318 - accuracy: 0.8660
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3325 - accuracy: 0.8634
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3316 - accuracy: 0.8654
Epoch 81/100

250/250 [==============================] - 0s 1ms/step - loss: 0.3320 - accuracy: 0.8644
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3314 - accuracy: 0.8660
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3316 - accuracy: 0.8654
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3310 - accuracy: 0.8658
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3314 - accuracy: 0.8645
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3314 - accuracy: 0.8659
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3315 - accuracy: 0.8660
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3314 - accuracy: 0.8660
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3304 - accuracy: 0.8654
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3311 - accuracy: 0.8650
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3306 - accuracy: 0.8665
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3314 - accuracy: 0.8637
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3309 - accuracy: 0.8658
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3311 - accuracy: 0.8662
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3308 - accuracy: 0.8650
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3306 - accuracy: 0.8648
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3302 - accuracy: 0.8654
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3305 - accuracy: 0.8648
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3303 - accuracy: 0.8666
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3305 - accuracy: 0.8655

## Making the predictions and evaluating the model

### Predicting the result of a single observation


Applying the ANN model, we make a prediction if the customer with the features below will leave the bank: 

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: \$ 60000

Number of Products: 2

Does this customer have a credit card ? Yes

Is this customer an Active Member: Yes

Estimated Salary: \$ 50000

So, should we say goodbye to that customer ?

In [21]:
#applying the model to the features above 
#if print = "yes", then customer leaves, otherwise, customer stays
#note that if probability of customer leaving is above 50 per cent, then print will be "True", else, "False":
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

1/1 [==============================] - 0s 133ms/step
[[False]]

Therefore, our ANN model predicts that this customer stays in the bank!

Notice also that the "France" country was not input as a string in the last column but as "1, 0, 0" in the first three columns. That's because of course the predict method expects the one-hot-encoded values of the state, and as we see in the first row of the matrix of features X, "France" was encoded as "1, 0, 0".

### Predicting the Test set results

In [22]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
#made a print to visually compare label predictions to test data 
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

63/63 [==============================] - 0s 2ms/step
[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

### Model efficiency

In [23]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1524   71]
 [ 213  192]]

0.858

The model shows an accuracy of about 86 percent